<button mat-raised-button color="warn"
        class="roundBTN"
        *ngIf="battleStarted && battleEnded"
        [disabled]="readyForRound"
        (click)="dealDmg(); tabIndex = 2"><strong>Start Round</strong>
</button>
<button mat-raised-button color="accent"
        class="roundBTN"
        *ngIf="!battleEnded"
        (click)="endBattle()"><strong>End Battle</strong>
</button>
<section class="arenaBody" *ngIf="!isMobile || !battleStarted">
<app-hero-selector
  [battleStarted]="battleStarted">
</app-hero-selector>
<button *ngIf="!battleStarted"
        [disabled]="readyForBattle"
        (click)="startBattle()"
        class="fightBtn" mat-fab
        color="warn">
  <strong>FIGHT</strong>
</button>
<app-hero-selector
  [enemy]="true"
  [battleStarted]="battleStarted">
</app-hero-selector>
</section>
<section class="arenaBody" *ngIf="!isMobile || !battleStarted">
  <app-hero-model
    *ngIf="battleStarted"
    [battleEnded]="battleEnded">
  </app-hero-model>
  <app-battle-log *ngIf="!showLog && battleStarted"></app-battle-log>
  <app-hero-model
    *ngIf="battleStarted"
    [enemy]="true"
    [battleEnded]="battleEnded">
  </app-hero-model>
</section>

<mat-tab-group class="arenaBody" [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event"
               *ngIf="isMobile && battleStarted">
  <mat-tab label="Blocks">
    <app-hero-model
      *ngIf="battleStarted"
      [battleEnded]="battleEnded">
    </app-hero-model>
  </mat-tab>
  <mat-tab label="Attacks">
    <app-hero-model
      *ngIf="battleStarted"
      [enemy]="true"
      [battleEnded]="battleEnded">
    </app-hero-model>
  </mat-tab>
  <mat-tab label="Result">
    <app-battle-log *ngIf="!showLog && battleStarted"></app-battle-log>
  </mat-tab>
</mat-tab-group>

<mat-button-toggle *ngIf="!showLog && battleStarted" class="showLogBTN">BattleLog</mat-button-toggle>

