<button mat-raised-button color="warn"
        class="roundBTN"
        *ngIf="battleStarted && battleEnded"
        [disabled]="readyForRound"
        (click)="dealDmg()"><strong>Start Round</strong>
</button>
<button mat-raised-button color="warn"
        class="roundBTN"
        *ngIf="!battleEnded"
        (click)="endBattle()"><strong>End Battle</strong>
</button>
<section class="arenaBody">
  <app-hero-model [battleStarted]="battleStarted"></app-hero-model>
  <button *ngIf="!readyForBattle && !battleStarted"
          (click)="startBattle()"
          class="fightBtn" mat-fab
          color="warn">
    <strong>FIGHT</strong>
  </button>
  <app-battle-log *ngIf="!showLog && battleStarted"></app-battle-log>
  <app-hero-model [enemy]="true" [battleStarted]="battleStarted"></app-hero-model>
</section>

<mat-button-toggle class="showLogBTN" (click)="sheowLogToggle()">BattleLog</mat-button-toggle>

