.heroSelector
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: calc(100% - 20px)
  animation: slide-up 0.4s ease
  @media screen and (max-width: 900px)
    flex-direction: column
    align-items: center

  .fightBtn
    margin: auto 50px
    width: 100px

  app-hero-selector
    margin-bottom: 15px

.battleContainer
  height: 100%

  .btnGroup
    margin: 5px auto
    display: flex
    align-content: center
    justify-content: center

  .endBTN
    margin: 10px
    @media screen and (max-width: 900px)
      margin: 5px

  .roundBTN
    margin: 10px auto
    display: block
    @media screen and (max-width: 900px)
      margin: 5px auto

  .arenaBody
    display: flex
    flex-direction: row
    justify-content: center
    animation: slide-up 0.4s ease

    @media screen and (max-width: 900px)
      flex-direction: column
      align-items: center

  .showLogBtn
    margin: 5px auto
    display: block

  mat-tab
    padding: 0 15px


