.btnGroup
  margin: 5px auto
  display: flex
  align-content: center
  justify-content: center

.endBTN
  margin: 10px
  @media screen and (max-width: 900px)
    margin: 5px

.roundBTN
  margin: 10px auto
  display: block
  @media screen and (max-width: 900px)
    margin: 5px auto

.arenaBody
  display: flex
  flex-direction: row
  justify-content: center
  @media screen and (max-width: 900px)
    flex-direction: column
    align-items: center

  .fightBtn
    margin: auto 50px
    width: 100px

  app-hero-selector
    margin-bottom: 15px
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center

  app-hero-model
    margin-top: 10px
    @media screen and (max-width: 900px)
      margin-top: 5px

.showLogBTN
  margin: 5px auto
  display: block

mat-tab
  padding: 0 15px
