<section class="selectorBody" *ngIf="!battleStarted">
  <h4 *ngIf="!enemy; else enemyHero">Select your hero</h4>
  <ng-template #enemyHero>
    <h4>Select your enemy</h4>
  </ng-template>
  <mat-form-field>
    <mat-select (selectionChange)="getHero()" [placeholder]="!enemy ? 'Choose your hero' : 'Choose your enemy'"
                [(ngModel)]="selected">
      <mat-option *ngFor="let hero of heroes" [value]="hero">
        {{hero.name}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="selected">
      HP: {{hero.constitution*10}}
      DMG: {{hero.strength | countAdvStats: 'damage'}}
      EVD: {{hero.dexterity | countAdvStats: 'evade'}}
      CRIT: {{hero.luck | countAdvStats: 'critical'}}
    </mat-hint>
  </mat-form-field>
</section>
