h4
    text-align: center

.heroFullModel
  display: block
  width: 500px

  h2
    text-align: center
    align-self: center

  .hero
    display: inline-flex

    .heroModel
      position: relative
      display: inline-block

      .heroImg
        position: relative
        padding: 10px
        width: 250px
        margin-right: 10px

      .heroBodyParts
        display: block
        height: 60px
        width: 60px
        background: rgba(36, 255, 7, 0.5)
        position: absolute

      #heroHead, #enemyheroHead
        top: 5px
        right: 70px

      #heroBody, #enemyheroBody
        top: 80px
        right: 70px

      #heroRightHand, #enemyheroRightHand
        top: 80px
        right: 5px

      #heroLeftHand, #enemyheroLeftHand
        top: 80px
        right: 135px

      #heroRightLeg, #enemyheroRightLeg
        bottom: 10px
        right: 50px

      #heroLeftLeg, #enemyheroLeftLeg
        bottom: 10px
        right: 135px

    .heroStats
      display: inline-block

      h4
        text-align: start
