<section *ngIf="!hero">
<h4 *ngIf="!enemy; else enemyHero">Select your hero</h4>
  <ng-template #enemyHero>
    <h4>Select your enemy</h4>
  </ng-template>
<mat-form-field>
  <mat-select (selectionChange)="getHero()" [placeholder]="!enemy ? 'Choose your hero' : 'Choose your enemy'"
              [(ngModel)]="selected">
    <mat-option *ngFor="let hero of heroes" [value]="hero">
      {{hero.name}}
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="selected">Hero id:{{selected.id}}</mat-hint>
</mat-form-field>
</section>

<section class="heroFullModel" *ngIf="hero">
  <h2>{{hero.name}}</h2>

  <mat-progress-bar
    class="heroHpBar"
    mode="determinate"
    color="warn"
    [value]="currentHP || hero.heroHP"
    [bufferValue]="hero.heroHP"
  ></mat-progress-bar>
  <span>{{currentHP + "/" + hero.heroHP}}</span>

  <section class="hero" [style.flex-direction]="enemy ? 'row' : 'row-reverse'">
    <section class="heroModel" [style.transform]="enemy ? 'scale(-1,1)' : 'none'" >
      <img class="heroImg" matCardImageXLarge src="../../assets/hero.png" alt="Hero image">
      <button *ngFor="let heroPart of heroParts"
              [style.background-image]="heroPart.checkStatus ? (!enemy ? 'url(src/assets/block1.png)' : 'url(src/assets/attack2.png)') : 'none'"
              mat-mini-fab
              class="heroBodyParts"
              [id]="!enemy ? heroPart.part : 'enemy'+heroPart.part"
              (click)="choosePoint(heroPart)"></button>
    </section>
    <section class="heroStats">
      <h4>Hero primary stats :</h4>
      <ul>
        <li>Strength: {{ hero.strength }}</li>
        <li>Dexterity: {{ hero.dexterity }}</li>
        <li>Constitution: {{ hero.constitution }}</li>
        <li>Luck: {{ hero.luck }}</li>
      </ul>
      <h5>Advanced Stats:</h5>
      <ul>
        <li>Damage: {{ hero.heroDamage }}</li>
        <li>Evade chance: {{ hero.evadeChance * 100 + "%" }}</li>
        <li>Critical hit chance: {{ hero.criticalHitChance * 100 + "%" }}</li>
      </ul>
    </section>
  </section>
</section>
