<section class="heroFullModel">

  <h2>{{hero.name}}</h2>

  <mat-progress-bar
    class="heroHpBar"
    mode="determinate"
    color="warn"
    [value]="currentHP + 1 / hero.heroHP * 100 || hero.heroHP"
    [bufferValue]="hero.heroHP">
  </mat-progress-bar>
  <span>{{currentHP + "/" + hero.heroHP}}</span>

  <section class="hero" [style.flex-direction]="enemy ? 'row' : 'row-reverse'">
    <section class="heroModel" [style.transform]="enemy ? 'scale(-1,1)' : 'none'" >
      <img class="heroImg" matCardImageXLarge src="../../assets/hero.png" alt="Hero image">
      <button *ngFor="let heroPart of (!enemy ? heroParts :  enemyParts)"
              [style.background-image]="heroPart.checkStatus ? (!enemy ? 'url(../../assets/block.png)' : 'url(../../assets/attack.png)') : 'none'"
              mat-mini-fab
              [disabled]="!battleEnded"
              [ngClass]="{'heroBodyParts': !enemy,
              'enemyBodyParts': enemy,
              'partsSelected': partsSelected}"
              [id]="!enemy ? heroPart.part : heroPart.part"
              (click)="choosePoint(heroPart)">
      </button>
    </section>
    <section class="heroStats">
      <ul class="primaryStats">
        <li>Strength: {{ hero.strength }}</li>
        <li>Dexterity: {{ hero.dexterity }}</li>
        <li>Constitution: {{ hero.constitution }}</li>
        <li>Luck: {{ hero.luck }}</li>
      </ul>
      <ul class="advancedStats">
        <li>Damage: {{ hero.heroDamage }}</li>
        <li>Evade chance: {{ hero.evadeChance + "%" }}</li>
        <li>Critical hit chance: {{ hero.criticalHitChance + "%" }}</li>
      </ul>
    </section>
    <p class="miniStats" *ngIf="hero">
      Damage: {{hero.strength | countAdvStats: 'damage'}} |
      Evade: {{hero.dexterity | countAdvStats: 'evade'}} |
      Critical: {{hero.luck | countAdvStats: 'critical'}}
    </p>
  </section>
</section>
