.heroFullModel
  @media screen and (max-width: 900px)
    font-size: 0.75rem

  h2
    margin: 5px auto

  .hero

    .heroModel
      position: relative
      height: 326px

      .heroImg
        position: relative
        padding: 10px
        width: 250px
        margin-right: 10px

      .heroBodyParts, .enemyBodyParts
        position: absolute
        height: 60px
        width: 60px
        background: rgba(36, 255, 7, 0.5)

      .partsSelected
        background: rgba(0, 0, 0, 0.35)

      #heroHead, #enemyHeroHead
        top: 5px
        right: 70px

      #heroBody, #enemyHeroBody
        top: 80px
        right: 70px

      #heroRightHand, #enemyHeroRightHand
        top: 80px
        right: 5px

      #heroLeftHand, #enemyHeroLeftHand
        top: 80px
        right: 135px

      #heroRightLeg, #enemyHeroRightLeg
        bottom: 10px
        right: 50px

      #heroLeftLeg, #enemyHeroLeftLeg
        bottom: 10px
        right: 135px

      .partsSelected
        background: #b79c3a2e

    .heroStats
      font-size: 0.9em
      @media screen and (max-width: 900px)
        display: none

      .advancedStats
        list-style-type: square
        font-size: 0.8em
        font-style: italic
    .miniStats
      display: none
      margin: 0 auto
      text-align: center
      @media screen and (max-width: 900px)
        display: block
