%flexColumnCenter
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  margin: 10px auto

.roundLog
  @extend %flexColumnCenter
  width: 280px
  height: 75%
  @media screen and (max-width: 900px)
    width: 100%
    height: auto

  .message
    margin: 10px

.battleLog
  @extend %flexColumnCenter

  .log
    margin: 5px
    font-size: .9em
