%flexColumnCenter
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  margin: 10px auto

.roundLog
  @extend %flexColumnCenter
  width: 280px
  height: calc(100% - 72px)

  .message
    margin: 10px

.battleLog
  @extend %flexColumnCenter

  .log
    margin: 5px
    font-size: .9em
