<section class="stats" *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <button mat-button (click)="changeName()">Change name</button>

  <section *ngIf="changeNameStatus">
    <mat-form-field>
    <input matInput placeholder="Enter new name" required
           [formControl]="name">
      <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <button [disabled]="name.invalid || name.pending" mat-raised-button color="primary"
            (click)="saveNewName()">save</button>
  </section>

  <h3>Hero stats:</h3>

  <p>Free stats points:
    {{ 50 - hero.strength - hero.dexterity - hero.constitution - hero.luck }}</p>

  <section>
    <label>Strength:
    <mat-slider
      [(ngModel)]="hero.strength"
      thumbLabel
      [min]="10"
      [max]="20"></mat-slider>
    <span>{{ hero.strength }}</span>
  </label>
  </section>
  <section>
    <label>Dexterity:
      <mat-slider
        [(ngModel)]="hero.dexterity"
        thumbLabel
        [min]="10"
        [max]="20"></mat-slider>
      <span>{{ hero.dexterity }}</span>
    </label>
  </section>
  <section>
    <label>Constitution:
      <mat-slider
        [(ngModel)]="hero.constitution"
        thumbLabel
        [min]="10"
        [max]="20"></mat-slider>
      <span>{{ hero.constitution }}</span>
    </label>
  </section>
  <section>
    <label>Luck:
      <mat-slider
        [(ngModel)]="hero.luck"
        thumbLabel
        [min]="10"
        [max]="20"></mat-slider>
      <span>{{ hero.luck }}</span>
    </label>
  </section>
  <section class="heroStats">
    <ul class="advancedStats">
      <li>HP: {{ hero.constitution * 10 }}</li>
      <li>Damage: {{ hero.strength | countAdvStats: 'damage' }}</li>
      <li>Evade chance: {{ hero.dexterity | countAdvStats: 'evade' }}</li>
      <li>Critical hit chance: {{ hero.luck | countAdvStats: 'critical' }}</li>
    </ul>
  </section>
</section>
<button mat-raised-button color="warn" (click)="goBack()">cancel</button>
<button mat-raised-button color="primary" (click)="save()">save</button>

