<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <button mat-button (click)="changeName()">Change name</button>

  <div *ngIf="changeNameStatus">
    <mat-form-field>
    <input matInput [(ngModel)]="hero.name" placeholder="New name">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveNewName(hero.name)">Save</button>
  </div>

  <h3>Hero stats:</h3>

  <p >Free stats points:
    {{ 50 - hero.strength - hero.dexterity - hero.constitution - hero.luck }}</p>

  <div>
    <label>Strength:
    <mat-slider
      [(ngModel)]="hero.strength"
      thumbLabel
      [min]="10"
      [max]="20"></mat-slider>
    <span>{{ hero.strength }}</span>
  </label>
  </div>
  <div>
    <label>Dexterity:
      <mat-slider
        [(ngModel)]="hero.dexterity"
        thumbLabel
        [min]="10"
        [max]="20"></mat-slider>
      <span>{{ hero.dexterity }}</span>
    </label>
  </div>
  <div>
    <label>Constitution:
      <mat-slider
        [(ngModel)]="hero.constitution"
        thumbLabel
        [min]="10"
        [max]="20"></mat-slider>
      <span>{{ hero.constitution }}</span>
    </label>
  </div>
  <div>
    <label>Luck:
      <mat-slider
        [(ngModel)]="hero.luck"
        thumbLabel
        [min]="10"
        [max]="20"></mat-slider>
      <span>{{ hero.luck }}</span>
    </label>
  </div>

</div>
<button mat-raised-button color="warn" (click)="goBack()">go back</button>
<button mat-raised-button color="primary" (click)="save()">save</button>

