<h2>My Heroes</h2>
<form>
  <mat-form-field class="example-full-width">
    <input matInput #heroName placeholder="Create new Hero"/>
  </mat-form-field>
  <button mat-button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</form>
<mat-nav-list class="heroes">
  <mat-list-item *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button mat-mini-fab color="warn" class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
  </mat-list-item>
</mat-nav-list>
