<h2>My Heroes</h2>
<form>
  <mat-form-field class="example-full-width">
    <input matInput #heroName placeholder="Create new Hero"/>
  </mat-form-field>
  <button mat-button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</form>
<mat-nav-list class="heroes">
  <mat-list-item *ngFor="let hero of heroes">
    <button mat-raised-button color="primary" routerLink="/detail/{{hero.id}}">
      {{hero.name}}
    </button>
    <button mat-mini-fab color="warn" class="delete" title="delete hero"
            (click)="delete(hero)"
            routerLink="/detail/{{hero.id}}">x</button>
  </mat-list-item>
</mat-nav-list>
